---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/Hero.astro';
import ProblemStatement from '../components/ProblemStatement.astro';
import Services from '../components/Services.astro';
import Methodology from '../components/Methodology.astro';
import WhyRemote from '../components/WhyRemote.astro';
import TrustBar from '../components/TrustBar.astro';
import ScopeDeclaration from '../components/ScopeDeclaration.astro';
import ContactForm from '../components/ContactForm.astro';
import Footer from '../components/Footer.astro';
---

<Layout title="BiP Omega – Independent Technical Diagnostic & Risk Assurance">
	<main>
		<Hero />
		<ProblemStatement />
		<Services />
		<Methodology />
		<WhyRemote />
		<TrustBar />
		<ScopeDeclaration />
		<ContactForm />
	</main>
	<Footer />
</Layout>
